* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
header {
  display: flex;
  width: 90%;
}
header h3 {
  margin-left: 10%;
  margin-top: 8%;
}
header ul {
  list-style: none;
  margin-left: 25%;
  margin-top: 5%;
  line-height: 30px;
  font-size: 13px;
}
#but {
  width: 80%;
  height: 30px;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 5%;
  background-color: rgba(127, 245, 123, 0.541);
  border: 1px solid rgba(113, 240, 144, 0.733);
}
.Stop-change {
  width: 95%;
  margin-left: 2.5%;
  background-image: url(images/bg1.jpg);
  background-color: ;
  background-size: cover;
  background-position: top;

  background-repeat: no-repeat;
  margin-top: 7%;
  padding: 5%;
}
.heading {
  line-height: 32px;
  font-size: 18px;
  color: white;
  font-family: flood-std, sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 25%;
}
.issue {
  height: 30px;
  width: 140px;
  background-color: rgb(44, 44, 49);
  color: white;
  padding: 2.3%;
  font-size: 12px;
  text-align: center;
  margin-bottom: -5%;
}
.threat-women {
  height: 200px;
  width: 300px;
  background-color: white;
  margin-bottom: 10%;
}
.threat-women h2 {
  font-size: 18px;
  text-align: center;
  padding-top: 15%;
  letter-spacing: 1.3px;
}
.threat-women a {
  color: black;
  font-size: 12px;
  margin-left: 15%;
}
.threat-women span {
  margin-left: 32%;
}
.take-action {
  width: 95%;
  margin-left: 2.5%;
}
.take {
  height: 5%;
  width: 30%;
  background-color: rgb(44, 44, 49);
  color: white;
  padding: 2%;
  font-size: 14px;
  margin: -25px auto 0;
}
.content {
  background-color: rgba(113, 240, 144, 0.733);
  display: grid;
  grid-gap: 12%;
  padding: 15% 7%;
  
}
.content p {
  font-size: 12px;
  line-height: 20px;
}

.learn {
  grid-row: 1/2;
}
.learn h3 {
  font-size: 20px;
}
.volunteer {
  grid-row: 1/2;
}
.share {
  grid-row: 2/2;
}
.donate {
  grid-row: 2/3;
}
.what-we-do {
  width: 95%;
  margin-left: 2.5%;
  background-color: rgb(44, 44, 49);
  padding: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.we-do {
  width: 140px;
  height: 35px;
  text-align: center;
  background-color: white;
  color: rgb(44, 44, 49);
  padding: 3%;
  font-size: 13px;
  margin-top: 5%;
}
.what-we-do p {
  letter-spacing: 1.3px;
  max-width: 75%;
  line-height: 20px;
  text-align: center;
  margin-top: 5%;
}
.Tree-planting {
  height: 400px;
  width: 90%;
  background-color: white;
  margin-top: 20%;
}
.Tree-planting img {
  margin-left: 12%;
  margin-top: -10%;
}
.Tree-planting h3 {
  font-size: 15px;
  color: rgb(44, 44, 49);
  text-align: center;
  margin-top: 8%;
}
.Tree-planting p {
  font-size: 13px;
  color: rgb(44, 44, 49);
  margin-left: 13%;
}
.Tree-planting button {
  background-color: rgba(113, 240, 144, 0.733);
  color: black;
  height: 30px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-top: 10%;
  margin-left: 30%;
}
.Education-Training {
  margin-top: 15%;
  height: 400px;
  width: 90%;
  background-color: white;
  margin-top: 20%;
}
.Education-Training img {
  margin-left: 12%;
  margin-top: -10%;
}
.Education-Training h3 {
  font-size: 15px;
  color: rgb(44, 44, 49);
  text-align: center;
  margin-top: 8%;
}
.Education-Training p {
  font-size: 13px;
  color: rgb(44, 44, 49);
  margin-left: 13%;
}
.Education-Training button {
  background-color: rgba(113, 240, 144, 0.733);
  color: black;
  height: 30px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-top: 10%;
  margin-left: 30%;
}
.Advocacy-Campaigning {
  margin-top: 15%;
  height: 400px;
  width: 90%;
  background-color: white;
  margin-top: 20%;
}
.Advocacy-Campaigning img {
  margin-left: 12%;
  margin-top: -10%;
}
.Advocacy-Campaigning h3 {
  font-size: 15px;
  color: rgb(44, 44, 49);
}
.Advocacy-Campaigning p {
  font-size: 13px;
  color: rgb(44, 44, 49);
}
.Advocacy-Campaigning button {
  background-color: rgba(113, 240, 144, 0.733);
  color: black;
  height: 30px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
}
.hunger-issue {
  background-image: url(images/bg2.jpg);
  background-position: center;
  background-clip: unset;
  background-size: cover;
  width: 95%;
  margin-left: 2.5%;
}
.hunger-issue h1 {
  color: white;
  margin-left: 10%;
  padding-top: 10%;
}
.hunger-issue button {
  height: 30px;
  width: 30%;
  background-color: rgba(113, 240, 144, 0.733);
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-top: 5%;
  margin-left: 10%;
}
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 15%;
}

.did-you-know {
  height: 8%;
  width: 30%;
  font-size: 12px;
  background-color: rgb(44, 44, 49);
  color: white;
  padding: 2%;
  margin-top: 10%;
}
.info1 {
  background-color: white;
  width: 80%;
  display: flex;
  padding: 5%;
}
.info1 p {
  font-size: 12px;
  margin-top: 3%;
}
.info2 {
  background-color: white;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
}
.info2 p {
  font-size: 12px;
  margin-top: 3%;
}
.info3 {
  background-color: white;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
}
.info3 p {
  font-size: 12px;
  max-width: 60%;
  margin-top: 3%;
}
.info4 {
  background-color: white;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
  margin-bottom: 5%;
}
.info4 p {
  margin-top: 3%;
  font-size: 12px;
}
.social {
  position: absolute;
  right: 20%;
}

.icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgba(113, 240, 144, 0.733);
  margin-top: 10%;
  text-align: center;
}
.icon i {
  font-size: 13px;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.story {
  height: 15%;
  width: 20%;
  background-color: rgb(44, 44, 49);
  color: white;
  padding: 2%;
  font-size: 13px;
}
.Balki {
  background-color: rgb(44, 44, 49);
  padding: 6%;
  max-width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}
.Balki p {
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.Balki span {
  font-size: 10px;
}
#but2 {
  height: 30px;
  width: 30%;
  background-color: rgba(113, 240, 144, 0.733);
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-left: 33%;
  margin-top: 7%;
}

.save-future {
  background-color: rgb(44, 44, 49);
  max-width: 95%;
  margin-left: 2.5%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.save-future h1 {
  color: white;
  margin-top: 10%;
  text-align: center;
  letter-spacing: 4px;
}
.earth-day {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 15%;
}
.events {
  height: 8%;
  width: 25%;
  background-color: white;
  color: rgb(44, 44, 49);
  padding: 2%;
  font-size: 13px;
  text-align: center;
}
.earth-day h3 {
  color: white;
  margin-top: 5%;
  text-align: center;
}
.earth-day p {
  font-size: 12px;
  color: white;
  max-width: 70%;
  text-align: center;
  margin-top: 10%;
}
.earth-day button {
  height: 30px;
  width: 30%;
  background-color: rgba(113, 240, 144, 0.733);
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-top: 8%;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20%;
}
.Latest-news {
  height: 8%;
  width: 35%;
  background-color: white;
  color: rgb(44, 44, 49);
  padding: 2%;
  font-size: 13px;
  margin-top: 10%;
  text-align: center;
}
.community h3 {
  color: white;
  margin-top: 5%;
  text-align: center;
}
.community p {
  font-size: 12px;
  color: white;
  max-width: 70%;
  text-align: center;
  margin-top: 8%;
}
.community button {
  height: 30px;
  width: 30%;
  background-color: rgba(113, 240, 144, 0.733);
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-top: 8%;
  margin-bottom: 10%;
}

.subscription {
  width: 95%;
  margin-left: 2.5%;
  background-color: rgba(113, 240, 144, 0.733);
  padding: 5%;
}
.subscription h3 {
  letter-spacing: 1.3px;
}
.subscription button {
  height: 30px;
  width: 30%;
  color: rgba(113, 240, 144, 0.733);
  background-color: rgb(44, 44, 49);
  border-radius: 20px;
  border: 1px solid rgb(44, 44, 49);
  margin-top: 4%;
  margin-left: 3%;
}

#email {
  border-radius: 20px;
  height: 25px;
  border: 1px solid white;
  text-align: center;
  margin-top: 5%;
}
.Initiative {
  background-color: white;
  padding: 10%;
  display: flex;
  flex-flow: row wrap;
}

.green {
  flex: 0 0 50%;
}
.contact {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 50%;
}
.follow {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 50%;
  margin-top: 15%;
}
.follow a {
  color: black;
}
.learn-more {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 50%;
  margin-top: 15%;
}
.learn a {
  color: black;
}
footer {
  text-align: end;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 10%;
}
