* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
header {
  display: flex;
  width: 90%;
}
header h3 {
  margin-left: 10%;
  margin-top: 8%;
}
header ul {
  list-style: none;
  margin-left: 20%;
  margin-top: 5%;
  line-height: 30px;
  font-size: 13px;
}
#but {
  width: 80%;
  height: 30px;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 5%;
  background-color: rgba(127, 245, 123, 0.541);
  border: 1px solid rgba(113, 240, 144, 0.733);
}
.container1 {
  width: 95%;
  margin-left: 2.5%;
  background-image: url(images/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  margin-top: 10%;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 25%;
}
.box1 {
  height: 15%;
  width: 30%;
  background-color: rgb(44, 44, 49);
  color: white;
  padding: 2%;
  font-size: 14px;
  margin-top: 25%;
  z-index: 1;
  position: absolute;
  top: -45%;
}
.box2 {
  height: 200px;
  width: 300px;
  background-color: white;
  padding: 5%;
  margin-bottom: 10%;
}
.box2 h2 {
  font-size: 18px;
  text-align: center;
  padding-top: 10%;
  letter-spacing: 1.3px;
}
.box2 a {
  font-size: 13px;
  color: black;
  margin-left: 9%;
}
.box2 span {
  margin-left: 30%;
}
.container2 {
  max-width: 95%;
  margin-left: 2.5%;
}
.box3 {
  height: 5%;
  width: 30%;
  background-color: rgb(44, 44, 49);
  color: white;
  padding: 2%;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  left: 35%;
  top: 86%;
}
.box4 {
  background-color: rgba(113, 240, 144, 0.733);

  display: grid;
  grid-gap: 10%;
  padding: 10%;
  position: relative;
}
.box4 p {
  font-size: 12px;
  line-height: 20px;
}

.learn {
  grid-row: 1/2;
}
.learn h3 {
  font-size: 20px;
}
.volunteer {
  grid-row: 1/2;
}
.share {
  grid-row: 2/2;
}
.donate {
  grid-row: 2/3;
}
.container3 {
  max-width: 95%;
  margin-left: 2.5%;
  background-color: rgb(44, 44, 49);
  padding: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box5 {
  height: 15%;
  width: 30%;
  background-color: white;
  color: rgb(44, 44, 49);
  padding: 2%;
  font-size: 13px;
  margin-top: 5%;
}
.container3 p {
  letter-spacing: 1.3px;
  max-width: 80%;
  text-align: center;
  margin-top: 5%;
}
.Tree-planting {
  height: 350px;
  width: 80%;
  background-color: white;
  margin-top: 15%;
  position: relative;
}
.Tree-planting img {
  position: absolute;
  left: 13%;
  z-index: 1;
  top: -7%;
}
.Tree-planting h3 {
  font-size: 15px;
  color: rgb(44, 44, 49);
  position: absolute;
  top: 35%;
  left: 18%;
}
.Tree-planting p {
  font-size: 13px;
  color: rgb(44, 44, 49);
  position: absolute;
  top: 40%;
  left: 10%;
}
.Tree-planting button {
  background-color: rgba(113, 240, 144, 0.733);
  color: black;
  height: 30px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  position: absolute;
  top: 80%;
  left: 30%;
}
.Education-Training {
  margin-top: 15%;
  height: 400px;
  width: 80%;
  background-color: white;
  margin-top: 15%;
  position: relative;
}
.Education-Training img {
  position: absolute;
  left: 13%;
  z-index: 1;
  top: -7%;
}
.Education-Training h3 {
  font-size: 15px;
  color: rgb(44, 44, 49);
  position: absolute;
  top: 35%;
  left: 18%;
}
.Education-Training p {
  font-size: 13px;
  color: rgb(44, 44, 49);
  position: absolute;
  top: 40%;
  left: 10%;
}
.Education-Training button {
  background-color: rgba(113, 240, 144, 0.733);
  color: black;
  height: 30px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  position: absolute;
  top: 85%;
  left: 30%;
}
.Advocacy-Campaigning {
  margin-top: 15%;
  height: 400px;
  width: 80%;
  background-color: white;
  margin-top: 15%;
  position: relative;
}
.Advocacy-Campaigning img {
  position: absolute;
  left: 13%;
  z-index: 1;
  top: -7%;
}
.Advocacy-Campaigning h3 {
  font-size: 15px;
  color: rgb(44, 44, 49);
  position: absolute;
  top: 35%;
  left: 18%;
}
.Advocacy-Campaigning p {
  font-size: 13px;
  color: rgb(44, 44, 49);
  position: absolute;
  top: 40%;
  left: 10%;
}
.Advocacy-Campaigning button {
  background-color: rgba(113, 240, 144, 0.733);
  color: black;
  height: 30px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  position: absolute;
  top: 85%;
  left: 30%;
}
.container4 {
  background-image: url(images/bg2.jpg);
  background-position: center;
  background-clip: unset;
  background-size: cover;
  max-width: 95%;
  margin-left: 2.5%;
}
.container4 h1 {
  color: white;
  margin-left: 10%;
  padding-top: 10%;
}
.container4 button {
  height: 30px;
  width: 30%;
  background-color: rgba(113, 240, 144, 0.733);
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-top: 5%;
  margin-left: 10%;
}
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 15%;
}

.box6 {
  height: 8%;
  width: 30%;
  font-size: 12px;
  background-color: rgb(44, 44, 49);
  color: white;
  padding: 2%;
  margin-top: 10%;
  position: absolute;
  top: -13%;
}
.box7 {
  background-color: white;
  width: 80%;
  display: flex;
  padding: 5%;
}
.box7 p {
  font-size: 12px;
  margin-top: 3%;
}
.box8 {
  background-color: white;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
}
.box8 p {
  font-size: 12px;
  margin-top: 3%;
}
.box9 {
  background-color: white;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
}
.box9 p {
  font-size: 12px;
  max-width: 60%;
  margin-top: 3%;
}
.box10 {
  background-color: white;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
  margin-bottom: 5%;
}
.box10 p {
  margin-top: 3%;
  font-size: 12px;
}
.social {
  position: absolute;
  right: 20%;
}

.icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgba(113, 240, 144, 0.733);
  margin-top: 10%;
  text-align: center;
}
.icon i {
  font-size: 13px;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  position: relative;
}
.story {
  height: 15%;
  width: 20%;
  background-color: rgb(44, 44, 49);
  color: white;
  padding: 2%;
  font-size: 13px;
  position: absolute;
  top: -7%;
}
.container6 {
  background-color: rgb(44, 44, 49);
  padding: 6%;
  max-width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}
.container6 p {
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.container6 span {
  font-size: 10px;
}
#but2 {
  height: 30px;
  width: 30%;
  background-color: rgba(113, 240, 144, 0.733);
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-left: 33%;
  margin-top: 7%;
}
.container7 {
  background-color: rgb(44, 44, 49);
  max-width: 95%;
  margin-left: 2.5%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.container7 h1 {
  color: white;
  margin-top: 10%;
  text-align: center;
  letter-spacing: 4px;
}
.Event {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 15%;
}
.box11 {
  height: 8%;
  width: 25%;
  background-color: white;
  color: rgb(44, 44, 49);
  padding: 2%;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: -5%;
}
.Event h3 {
  color: white;
  margin-top: 5%;
  text-align: center;
}
.Event p {
  font-size: 12px;
  color: white;
  max-width: 70%;
  text-align: center;
  margin-top: 10%;
}
.Event button {
  height: 30px;
  width: 30%;
  background-color: rgba(113, 240, 144, 0.733);
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-top: 8%;
}
.box12 {
  height: 15%;
  width: 35%;
  background-color: white;
  color: rgb(44, 44, 49);
  padding: 2%;
  font-size: 13px;
  margin-top: 10%;
}
.Latest-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20%;
}
.box12 {
  height: 8%;
  width: 35%;
  background-color: white;
  color: rgb(44, 44, 49);
  padding: 2%;
  font-size: 13px;
  margin-top: 10%;
  text-align: center;
  position: absolute;
  top: -12%;
}
.Latest-news h3 {
  color: white;
  margin-top: 5%;
  text-align: center;
}
.Latest-news p {
  font-size: 12px;
  color: white;
  max-width: 70%;
  text-align: center;
  margin-top: 8%;
}
.Latest-news button {
  height: 30px;
  width: 30%;
  background-color: rgba(113, 240, 144, 0.733);
  border-radius: 20px;
  border: 1px solid rgba(113, 240, 144, 0.733);
  margin-top: 8%;
  margin-bottom: 10%;
}
.container8 {
  max-width: 95%;
  margin-left: 2.5%;
  background-color: rgba(113, 240, 144, 0.733);
  padding: 5%;
}
.container8 h3 {
  letter-spacing: 1.3px;
}
.container8 button {
  height: 30px;
  width: 30%;
  color: rgba(113, 240, 144, 0.733);
  background-color: rgb(44, 44, 49);
  border-radius: 20px;
  border: 1px solid rgb(44, 44, 49);
  margin-top: 4%;
  margin-left: 3%;
}

#email {
  border-radius: 20px;
  height: 25px;
  border: 1px solid white;
  text-align: center;
  margin-top: 5%;
}
.container9 {
  background-color: white;
  padding: 10%;
  display: flex;
  flex-flow: row wrap;
}

.green {
  flex: 0 0 50%;
}
.contact {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 50%;
}
.follow {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 50%;
  margin-top: 15%;
}
.follow a {
  color: black;
}
.learn-more {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 50%;
  margin-top: 15%;
}
.learn a {
  color: black;
}
footer {
  text-align: end;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 10%;
}

@media (max-width: 370px) {
  .box3 {
    display: none;
  }
  .box5 {
    width: 35%;
  }
  .box4 {
    grid-gap: 8%;
    padding: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .Tree-planting img {
    left: 10%;
  }
  .Education-Training img {
    left: 10%;
  }
  .Advocacy-Campaigning img {
    left: 10%;
  }
  .container4 button {
    width: 35%;
  }
  .box6 {
    width: 35%;
  }
  .Education-Training button {
    top: 90%;
  }
}
