* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
}
header h3 {
  margin-left: 20px;
  margin-top: 25px;
}
header ul {
  list-style: none;
  margin-top: 15px;
  margin-right: 20px;
  line-height: 30px;
  font-size: 13px;
}
#btn {
  width: 80%;
  height: 30px;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 5%;
  background-color: #c1f7d5;
  border: 1px solid #c1f7d5;
}
.Stop-change {
  background: #c1f7d5;
  background-image: url(images/bg1.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 7%;
  padding: 5%;
  width: 95%;
  margin: 7% auto 0 auto;
}
.heading {
  max-width: 420px;
  margin: 0 auto;
  line-height: 34px;
  letter-spacing: 3px;
  font-size: 1.2rem;
  padding: 5px;
  color: white;
  font-family: flood-std, sans-serif;
}

.issue {
  height: 30px;
  width: 140px;
  max-width: 140px;
  background-color: #354463;
  color: white;
  padding: 7px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 25%;
  top: -7%;
}
.threat-women {
  height: 180px;
  width: 95%;
  margin: 0 auto;
  max-width: 400px;
  background-color: white;
  margin: 80px auto 20px auto;
  position: relative;
  max-width: 480px;
}
.threat-women h2 {
  font-size: 16px;
  text-align: center;
  padding-top: 15%;

  letter-spacing: 1.3px;
}
.threat-women p {
  color: black;
  font-size: 12px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.take-action {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
.take {
  height: 30px;
  width: 140px;
  background-color: #354463;
  color: white;
  text-align: center;
  padding: 6px;
  font-size: 14px;
  margin: -15px auto 0;
  position: absolute;
  left: 30%;
}
.content {
  background-color: #c1f7d5;
  display: grid;
  grid-gap: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 20px;
  padding-right: 20px;
}
.content p {
  font-size: 11px;
  line-height: 20px;
}

.learn {
  grid-row: 1/2;
}
.learn h3 {
  font-size: 20px;
}
.volunteer {
  grid-row: 1/2;
}
.share {
  grid-row: 2/2;
}
.donate {
  grid-row: 2/3;
}
.what-we-do {
  width: 95%;
  margin: 0 auto;
  background-color: #354463;
  padding: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.we-do {
  width: 140px;
  height: 35px;
  text-align: center;
  background-color: white;
  color: #354463;
  padding: 3%;
  font-size: 13px;
  margin-top: 5%;
}
.what-we-do p {
  letter-spacing: 1.3px;
  max-width: 85%;
  line-height: 20px;
  text-align: center;
  margin-top: 5%;
}
.Tree-planting {
  text-align: center;
  height: 380px;
  width: 95%;
  background-color: white;
  margin-top: 20%;
  max-width: 470px;
}
.Tree-planting img {
  width: 80%;
  height: 150px;
  margin: -25px auto 0;
  max-width: 470px;
}
.Tree-planting h3 {
  color: #354463;
  text-align: center;
  margin-top: 8%;
}
.Tree-planting p {
  width: 90%;
  font-size: 15px;
  color: #354463;
  margin: 20px auto 10px;
}
.Tree-planting button {
  background-color: #c1f7d5;
  color: black;
  height: 30px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid #c1f7d5;
  margin: 3% 30%;
}
.Education-Training {
  text-align: center;
  margin-top: 15%;
  height: 380px;
  width: 95%;
  background-color: white;
  margin-top: 20%;
}
.Education-Training img {
  width: 80%;
  height: 150px;
  margin: -25px auto 0;
}
.Education-Training h3 {
  color: #354463;
  text-align: center;
  margin-top: 8%;
}
.Education-Training p {
  width: 90%;
  font-size: 15px;
  color: #354463;
  margin: 20px auto 10px;
}
.Education-Training button {
  background-color: #c1f7d5;
  color: black;
  height: 30px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid #c1f7d5;
  margin: 5% 30%;
}
.Advocacy-Campaigning {
  text-align: center;
  margin-top: 15%;
  height: 380px;
  width: 95%;
  background-color: white;
  margin-top: 20%;
}
.Advocacy-Campaigning img {
  width: 80%;
  height: 150px;
  margin: -25px auto 0;
}
.Advocacy-Campaigning h3 {
  color: #354463;
  margin-top: 8%;
  text-align: center;
}
.Advocacy-Campaigning p {
  font-size: 15px;
  color: #354463;
  margin: 20px auto 10px;
}
.Advocacy-Campaigning button {
  background-color: #c1f7d5;
  color: black;
  height: 30px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid #c1f7d5;
  margin: 5% 30%;
}
.hunger-issue {
  background-image: url(images/bg2.jpg);
  background-position: center;
  background-clip: unset;
  background-size: cover;
  width: 95%;
  margin: 0 auto;
}
.hunger-issue h1 {
  color: white;
  max-width: 420px;
  margin: 0 auto;
  line-height: 32px;
  letter-spacing: 3px;
  font-size: 1.6rem;
  padding: 20px;
  font-family: flood-std, sans-serif;
}
.hunger-issue button {
  height: 30px;
  width: 130px;
  background-color: #c1f7d5;
  border-radius: 20px;
  border: 1px solid #c1f7d5;
  margin-left: 20px;
}
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.did-you-know {
  height: 30px;
  width: 120px;
  text-align: center;
  font-size: 12px;
  background-color: #354463;
  color: white;
  padding: 2%;
  margin-top: 10%;
}
.info1 {
  background-color: white;
  width: 80%;
  display: flex;
  padding: 5%;
  position: relative;
}
.info1 p {
  font-size: 12px;
  margin-top: 10px;
}
.info2 {
  background-color: white;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
  position: relative;
}
.info2 p {
  font-size: 12px;
  margin-top: 10px;
}
.info3 {
  background-color: white;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
  position: relative;
}
.info3 p {
  font-size: 12px;
  max-width: 60%;
  margin-top: 10px;
}
.info4 {
  background-color: white;
  width: 80%;
  padding: 5%;
  margin-top: 5%;
  display: flex;
  margin-bottom: 5%;
  position: relative;
}
.info4 p {
  margin-top: 10px;
  font-size: 12px;
}
.social {
  position: absolute;
  right: 10%;
}
#face {
  margin-top: 12px;
}
.icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #c1f7d5;
  margin-top: 10%;
  text-align: center;
  padding: 8%;
}
.icon i {
  font-size: 13px;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  position: relative;
}
.stories img {
  margin: 0 auto;
}
.story {
  height: 30px;
  width: 120px;
  text-align: center;
  background-color: #354463;
  color: white;
  padding: 2%;
  font-size: 13px;
  position: absolute;
  top: -6%;
}
.Balki {
  background-color: #354463;
  padding: 6%;
  width: 80%;
  margin: 10% auto;
}
.Balki p {
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.Balki span {
  font-size: 8px;
}
#but2 {
  height: 30px;
  width: 30%;
  background-color: #c1f7d5;
  border-radius: 20px;
  border: 1px solid #c1f7d5;
  margin-left: 33%;
  margin-top: 7%;
}
.indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.indi {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);

  margin-right: 8px;
}
.indi1 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  border-color: 1px solid black;
  margin-right: 8px;
}
.lets-take-action {
  width: 95%;
  margin-top: 10%;
  margin: 0 auto;
  background-color: #354463;
  margin-top: 10%;
}

.lets-take-action h1 {
  color: white;
  font-size: 30px;
  font-family: flood-std, sans-serif;
  text-align: center;
  max-width: 60%;
  padding-top: 15%;
  margin-left: 20%;
}
.flexuse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  width: 160px;
  height: 30px;
  background-color: white;
  padding: 2%;
  text-align: center;
  position: absolute;
  left: 28%;
  top: -7%;
}
.images {
  margin-top: 20%;
  text-align: center;
  align-items: center;
  position: relative;
}
.images img {
  height: 250px;
  width: 80%;
}
.earth-day h2 {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 5%;
  margin-left: 13%;
  width: 70%;
}
.earth-day p {
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 12px;
  width: 80%;
  margin-left: 10%;
}
.earth-day button {
  height: 30px;
  width: 120px;
  border-radius: 25px;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  margin: 25px 0 0 120px;
}

.latest {
  width: 160px;
  height: 30px;
  background-color: white;
  padding: 2%;
  text-align: center;
  position: absolute;
  top: -6%;
  left: 28%;
}
.flexx {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images2 {
  margin-top: 20%;
  text-align: center;
  align-items: center;
  position: relative;
}
.images2 img {
  height: 250px;
  width: 80%;
}
.earth-day2 h2 {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 5%;
  margin-left: 13%;
  width: 70%;
}
.earth-day2 p {
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 12px;
  width: 80%;
  margin-left: 10%;
}
.earth-day2 button {
  height: 30px;
  width: 120px;
  border-radius: 25px;
  border: 1px solid #c1f7d5;
  background-color: #c1f7d5;
  margin: 25px 0 0 120px;
}
#read {
  margin-bottom: 20px;
}

.subscription {
  width: 95%;
  margin: 0 auto;
  background-color: #c1f7d5;
  padding: 5%;
}
.subscription h3 {
  font-size: 18px;
  max-width: 90%;
}
.subscription button {
  height: 30px;
  width: 30%;
  color: #c1f7d5;
  background-color: #354463;
  border-radius: 20px;
  border: 1px solid #354463;
  margin-top: 4%;
  margin-left: 3%;
}

#email {
  border-radius: 20px;
  height: 30px;
  border: 1px solid white;
  text-align: center;
  margin-top: 5%;
}
.Initiative {
  background-color: white;
  padding: 10%;
  display: flex;
  flex-flow: row wrap;
}

.green {
  flex: 0 0 50%;
  font-size: 13px;
  max-width: 30%;
}
.contact {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 50%;
  margin-left: 20%;
}
.follow {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 50%;
  margin-top: 15%;
}
.follow a {
  color: black;
}
.learn-more {
  font-size: 12px;
  line-height: 20px;
  flex: 0 0 50%;
  margin-top: 15%;
}
.learn-more a {
  color: black;
}
footer {
  font-family: flood-std, sans-serif;
  text-align: end;
  margin-right: 10%;
  margin-top: 3%;
  padding-bottom: 10%;
  font-size: 1.7rem;
}

@media (min-width: 600px) {
  header {
    flex-direction: column;
  }
  header ul {
    display: flex;
  }
  .about {
    margin-left: 48px;
  }
  .our {
    margin-left: 45px;
  }
  .news {
    margin-left: 45px;
  }
  header h3 {
    margin-top: 20px;
    margin-left: 45px;
  }
  #btn {
    width: 100px;
    position: absolute;
    top: 8%;
    right: 5%;
  }
  .Stop-change {
    width: 100%;
  }
  .heading {
    margin-left: 2%;
  }
  .threat-women {
    max-width: 620px;
    height: 190px;
  }
  .issue {
    left: 10%;
    max-width: 620px;
  }
  .threat-women h2 {
    font-size: 20px;
    padding-top: 8%;
    text-align: start;
    margin-left: 10%;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  .threat-women p {
    text-align: left;
    margin-left: 26px;
  }
  .threat-women span {
    margin-left: 0px;
  }
  .take-action {
    width: 100%;
  }
  .take {
    left: 40%;
    max-width: 620px;
  }
  .content {
    grid-gap: 14%;
    padding-left: 8%;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-right: 8%;
  }
  .what-we-do {
    width: 100%;
  }
  .we-do {
    padding: 2%;
    margin-left: -60%;
    max-width: 320px;
  }
  .what-we-do p {
    text-align: start;
    margin-left: 12px;
    font-size: 18px;
    max-width: 90%;
    word-spacing: 5px;
    line-height: 24px;
  }
  .Tree-planting {
    height: 240px;
    width: 95%;
    background-color: white;
    margin-top: 12%;
    position: relative;
    max-width: 620px;
  }
  .Tree-planting img {
    width: 40%;
    max-width: 620px;
    margin-right: 270px;
  }

  .Tree-planting h3 {
    max-width: 25%;
    margin-left: 51%;
    margin-top: -20%;
  }
  .Tree-planting p {
    font-size: 13px;
    margin-top: 2%;
    margin-left: 52%;
    max-width: 50%;
    padding-right: 3%;
  }
  .Tree-planting button {
    width: 23%;
    position: absolute;
    top: 55%;
    right: 25%;
  }
  .Education-Training {
    height: 240px;
    width: 95%;
    background-color: white;
    margin-top: 12%;
    max-width: 620px;
    position: relative;
  }
  .Education-Training img {
    width: 40%;
    max-width: 620px;
    margin-right: 270px;
  }

  .Education-Training h3 {
    max-width: 25%;
    margin-left: 51%;
    margin-top: -20%;
  }
  .Education-Training p {
    font-size: 13px;
    margin-top: 2%;
    margin-left: 52%;
    max-width: 50%;
    padding-right: 3%;
  }
  .Education-Training button {
    width: 23%;
    position: absolute;
    top: 55%;
    right: 25%;
  }
  .Advocacy-Campaigning {
    height: 240px;
    width: 95%;
    background-color: white;
    margin-top: 12%;
    max-width: 620px;
    position: relative;
  }
  .Advocacy-Campaigning img {
    width: 40%;
    max-width: 620px;
    margin-right: 270px;
  }

  .Advocacy-Campaigning h3 {
    max-width: 25%;
    margin-left: 51%;
    margin-top: -20%;
  }
  .Advocacy-Campaigning p {
    font-size: 13px;
    margin-top: 2%;
    margin-left: 52%;
    max-width: 50%;
    padding-right: 3%;
  }
  .Advocacy-Campaigning button {
    width: 23%;
    position: absolute;
    top: 55%;
    right: 25%;
  }
  .hunger-issue {
    width: 100%;
  }
  .hunger-issue h1 {
    max-width: 150px;
    padding: 0;
    font-size: 2rem;
    line-height: 1.4;
    padding-top: 60px;
    margin-left: 40px;
  }
  .hunger-issue button {
    margin-top: 25px;
    margin-left: 40px;
  }
  .boxes {
    align-items: flex-end;
    margin-top: -354px;
    margin-right: 35px;
  }
  .info1 {
    width: 60%;
    max-width: 620px;
  }
  .info2 {
    width: 60%;
    max-width: 620px;
  }
  .info3 {
    width: 60%;
    max-width: 620px;
  }
  .info4 {
    width: 60%;
    max-width: 620px;
  }
  .did-you-know {
    margin-right: 100px;
    width: 200px;
    padding: 1.5%;
  }
  .story {
    padding: 1.4%;
    left: 15%;
    top: -5%;
    max-width: 620px;
  }
  .stories img {
    height: 300px;
    margin-left: 30px;
    max-width: 620px;
  }
  .Balki {
    height: 200px;
    width: 75%;
    margin: 0 auto;
    margin-top: -40px;
    margin-left: 100px;
    max-width: 620px;
    position: relative;
  }
  .Balki p {
    text-align: left;
  }
  #but2 {
    margin-left: 95px;
  }
  .indicator {
    justify-content: start;
    flex-direction: column;
    margin-top: -180px;
    margin-left: 35px;
  }
  .indi {
    margin-bottom: 3px;
  }
  .indi1 {
    margin-bottom: 3px;
  }

  .lets-take-action {
    width: 100%;
    margin-top: 30%;
  }
  .lets-take-action h1 {
    text-align: left;
    max-width: 70%;
    margin-left: 35px;
  }
  .flexuse {
    flex-direction: row;
  }
  .images img {
    height: 250px;
    width: 270px;
    margin-left: 35px;
    margin-top: -170px;
    max-width: 620px;
  }
  .event {
    width: 100px;
    max-width: 620px;
    left: 118%;
    top: -200%;
  }
  .earth-day h2 {
    margin-top: 100px;
    text-align: left;
    margin-left: 55px;
    width: 60%;
    word-spacing: 5px;
  }
  .earth-day p {
    text-align: left;
    margin-top: 20px;
    margin-left: 55px;
    max-width: 65%;
    line-height: 18px;
  }
  .earth-day button {
    margin: 0;
    margin-top: 20px;
    margin-left: 55px;
  }
  .flexx {
    flex-direction: row;
  }
  .images2 {
    order: 1;
  }
  .earth-day2 {
    order: 0;
  }
  .images2 img {
    height: 250px;
    width: 270px;
    margin-right: 40px;
    margin-top: -180px;
  }
  .latest {
    left: -82%;
    top: -240%;
    width: 140px;
  }
  .earth-day2 h2 {
    margin-top: 100px;
    text-align: left;
    margin-left: 35px;
    width: 60%;
    word-spacing: 5px;
  }
  .earth-day2 p {
    text-align: left;
    margin-top: 20px;
    margin-left: 35px;
    max-width: 60%;
    line-height: 18px;
  }
  .earth-day2 button {
    margin: 0;
    margin-top: 20px;
    margin-left: 35px;
  }

  .subscription {
    width: 100%;
  }
  .subscription h3 {
    max-width: 70%;
  }
  #email {
    width: 70%;
    text-align: left;
    padding-left: 2%;
  }
  .subscription button {
    width: 25%;
  }
  .green {
    flex: 0 0 33%;
    margin-left: -5%;
  }
  .contact {
    margin-left: 10%;
    flex: 0 0 33%;
  }
  .follow {
    margin-top: -21%;
    flex: 0 0 33%;
    margin-left: 75%;
  }

  .learn-more {
    margin-left: 35%;
  }
  footer {
    margin-top: -26%;
    text-align: left;
    margin-left: 70%;
  }
}
@media (min-width: 700px) {
  #btn {
    margin-top: 0;
    margin-right: 10%;
  }
  .did-you-know {
    margin-right: 200px;
  }
  .latest {
    left: -132%;
  }
  .follow {
    margin-top: -15%;
  }
  footer {
    margin-top: -22%;
  }
  .lets-take-action h1 {
    text-align: left;
    max-width: 55%;
    margin-left: 60px;
  }

  .images img {
    width: 320px;
    height: 300px;
    margin-top: -180px;
    margin-left: 60px;
    max-width: 620px;
  }
  .event {
    left: 115%;
    top: -140%;
  }
  .earth-day h2 {
    margin-top: 140px;
    line-height: 25px;

    width: 50%;
    word-spacing: 5px;
  }
  .earth-day p {
    font-size: 14px;
    margin-top: 30px;
    margin-left: 55px;
    max-width: 55%;
    line-height: 20px;
  }
  .earth-day button {
    margin-top: 30px;
    margin-left: 55px;
  }

  .images2 {
    order: 1;
  }
  .earth-day2 {
    order: 0;
  }
  .images2 img {
    height: 320px;
    width: 300px;
    margin-right: 50px;
    margin-top: -100px;
    padding-bottom: 10%;
  }
  .latest {
    left: -100%;
    top: -45%;
  }
  .earth-day2 h2 {
    margin-top: 180px;
    max-width: 52%;
    margin-left: 70px;
    width: 60%;
    line-height: 25px;
  }
  .earth-day2 p {
    font-size: 14px;
    margin-left: 70px;
    max-width: 50%;
    line-height: 18px;
  }
  .earth-day2 button {
    margin: 0;
    margin-top: 40px;
    margin-left: 70px;
  }
  .green {
    font-size: 16px;
  }
}
